@font-face {
    font-family: 'def';
    src: url('fonts/Magical Childhood.ttf') format('woff2');
    /* Add additional formats for cross-browser compatibility */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1, h2, img {
    margin: 10px; /* Optional: Add some margin to the elements */
    font-family: def;
}
