@font-face {
    font-family: 'def';
    src: url('fonts/Magical Childhood.ttf');
    
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(177, 110, 72);
}

h1, h2{
    margin: 10px;
    font-family: def;
    color: white;

}
img {
    margin: 10px;

}